---
import MainLayout from '../layouts/main-layout.astro';
const title = "Home Page";
---

<MainLayout title={title}>
  <style>
    .background-image {
      background-image: url('src//components//util//5578995.png');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 100vh;
      width: 100%;
    }
  </style>
  <div class="background-image">
  </div>
</MainLayout>
